#tournament-players {
	margin: 0;
}

#tournament-settings td label {
	margin-right: 20px;
}

#tournament-settings .rounds th {
	padding: 15px 10px;
}

.countdown > div {
    display: inline-block;
    margin-right: 50px;
}

.countdown .counter {
    margin-right: 10px;
}